* {
  margin:0px;
  padding:0px;
  color: rgb(255, 243, 220);
}

body{
background-color: rgb(0, 4, 18);
color: white;
}

p {
  font-family: 'Poppins', sans-serif;
  color:white;
}

.hul-top{
  height: 50px;
}

.header{
  background:none;
  display: flex;
  flex-direction: row;
  height: 70px;
  border-style: solid;
  border-width: 0px;
  align-items: center;
  justify-content: space-between;
  border-color: rgb(255, 255, 255);
  border-top: none;
  border-right: none;
  border-left: none;
  margin-top:-1px;
}

.header-title{
  margin-left: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  color:white;
  letter-spacing: normal;
}

.header-button-1{
  background: none;
  border-style: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 50px;
  cursor: pointer;
  color:rgb(255, 255, 255);
  transition: background-color 250ms;
  margin-right:10px;
  font-family: 'Poppins', sans-serif;
}

.header-button-2{
  background: none;
  border-style: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 50px;
  cursor: pointer;
  color:rgb(255, 255, 255);
  transition: background-color 250ms;
  margin-right:10px;
  font-family: 'Poppins', sans-serif;
}

.header-button-3{
  background: none;
  border-style: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 50px;
  cursor: pointer;
  color:rgb(255, 255, 255);
  transition: background-color 250ms text-decoration 250ms;
  margin-right:10px;
  font-family: 'Poppins', sans-serif;
}

.header-button-4{
  background: none;
  border-style: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 50px;
  cursor: pointer;
  color:rgb(255, 255, 255);
  transition: background-color 250ms text-decoration 250ms;
  margin-right:50px;
  font-family: 'Poppins', sans-serif;
}

.header-button-1:hover,
.header-button-2:hover,
.header-button-4:hover,
.header-button-3:hover{
  background: gray;
  text-decoration: underline;
  color: black;
}

.hul{
  width: 900px;
  transition: opacity 5s;
  transition: 1s;
  align-items: center;
  margin-left: 0 px;
}

.hul:hover{
  opacity: .1;
}

.author-info{
  display: flex;
  flex-direction: row;
  justify-content:center;
  margin-top: 30px;
  color:rgb(36, 115, 184);
}

.introduction{
  background-color: rgba(255, 255, 255, 0);
  width: 1000px;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  border-radius: 60px;
  font-size: large;
  font-family: Poppins;
  text-align: justify;
  text-justify: inter-word;  
}

.hello{
  font-size: 30px;
  margin-left: 20px;
  color:rgb(255, 243, 220);
  font-weight: 200;
  padding-top: 20px;
  padding-bottom: 10px;
}

.welcome{
  font-size: 15px;
  line-height: 25px;
  font-weight: 200;
  color: rgb(255, 243, 220);
  padding-bottom: 10px;
}

.featured-projects{
  margin-top: 30px;
  height: 100px;
  text-align: center;
  background: linear-gradient(rgb(0, 4, 18), rgb(81, 88, 114), white)
}

.featured-projects-text{
  font-size: 50px;
  color: rgb(255, 243, 220);
  transition: color 250ms;
}

.featured-projects-text:hover{
  color:black;
}

.previews{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
}

.void-pic{
  width: 300px;
  height: 375px;
  object-fit: cover;
  margin-left: 20px;
  margin-right: 20px;
  transition: width 0.250s, height 0.250s, opacity 0.25s, box-shadow 0.250s;
  box-shadow: 10px 10px 8px #b8b8b8;
  border-radius: 8px;
}

.void-pic:hover{
  width: 400px;
  height: 500px;
  object-fit: cover;
  box-shadow: -10px 10px 8px #b8b8b8;
}

.hellothere{
  color:rgb(0, 4, 18);
  font-size: 30px;
  margin-top: 8px;
  margin-left: 20px;
  line-height: 32px;
  opacity: 0;
  transition: opacity 0.250s;
  font-family: Montserrat;
  padding-bottom: 5px;
}

.preview-1:hover,
.preview-2:hover,
.preview-3:hover{
  .hellothere{
    opacity: 1;
  }
}

.parthenon{
  width: 1920px;
  align-items: center;
  margin-top: 10px;
}


.the-art-gallery-intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(0, 4, 18), rgb(0, 4, 18));
}

.the-art-gallery{
  font-family: Cinzel;
  font-size: 100px;
  line-height: 70px;
  padding-top: 30px;
  padding-bottom: 10px;
  letter-spacing: 30px;
}

.the-art-gallery-description{
  font-family: Poppins;
  font-weight: 200;
  padding-bottom: 40px;
}

.displays{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column{
  height: 800px;
  margin-left: 50px;
  margin-right: 50px;
}

.display-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0px;

  /*background-image: url(assets/wall.png);
  background-repeat: no-repeat;
  background-position: center;

  height: 1100px;
  align-items: center;*/
}

.artwork-1-title{
  font-size: 64px;
  padding-bottom: 10px;
  font-family: Cinzel;
  padding-top: 70px;
}

.artwork-1-specs{
  font-family: Montserrat;
  padding-bottom: 30px;
  font-size: small;
}

.artwork-1-explaination{
  width: 500px;
  text-align: justify;
  text-justify: inter-word;
  margin-right: 1fr;
  line-height: 30px;
  font-family: Montserrat;
}

.display-1-artwork{
  height: 600px;
  box-shadow: 10px 10px 8px #000000;
  margin-right: 50px;
  margin-left: 1fr;
  margin-top: 70px;
}

.artwork-1-description{
 p {
  color: rgb(255, 255, 255);
 }
 margin-right: 1fr;
 width: 500px;
 font-size: large;
 font-family: Poppins;
 text-align: justify;
 text-justify: inter-word;  
}

.display-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom:0px;
}


.display-2-artwork{
  height: 600px;
  box-shadow: 10px 10px 8px #000000;
  margin-left: 50px;
  margin-right: 1fr;
  margin-top: 70px;

}

.artwork-2-title{
  font-size: 64px;
  padding-bottom: 10px;
  font-family: Cinzel;
  padding-top: 70px;
}

.artwork-2-specs{
  font-family: Montserrat;
  padding-bottom: 30px;
  font-size: small;
}

.artwork-2-explaination{
  width: 500px;
  text-align: justify;
  text-justify: inter-word;
  margin-right: 1fr;
  line-height: 35px;
  font-family: Montserrat;
}

.display-4{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom:0px;
  background-image:rgb(0, 4, 18);
}


/*
.artwork-2-description{
  p {
   color: rgb(255, 255, 255);
  }
  margin-right: 1fr;
  width: 500px;
  font-size: large;
  text-align: justify;
  text-justify: inter-word;  
 }*/

 .more-artworks{
  background-color: white;
 }

 .anime-section{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

 h2 {
  color: rgb(0, 4, 18);
  text-align: center;
  font-size: 100px;
  padding-top: 10px;
  font-family: Poppins;
  font-weight: bold;
 }

.grid-art{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.grid-pic{
  width: 500px;
  margin: 10px;
  box-shadow: 10px 10px 8px #b8b8b8;
  border-radius: 15px;
  transition: width 0.25s;
}

.grid-pic:hover{
  width: 750px;
}

h3 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 100px;
  padding-top: 10px;
  font-family: Poppins;
  font-weight: bold;
}

.graphite-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.grid-pic2{
  width: 300px;
  height: 400px;
  margin: 20px;
  box-shadow: 10px 10px 8px #353535;
  border-radius: 15px;
  transition: width 0.25s, height 0.25s;
  vertical-align: top;
}

.grid-pic2:hover{
  width: 600px;
  height: 800px;
}

h4 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 100px;
  padding-top: 10px;
  font-family: Poppins;
  font-weight: bold;
  padding-bottom: 50px;
}

.about-me-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.me-picture{
  border-radius: 300px;
  width: 300px;
}

.intro-me{
  width: 500px;
  margin-left: 50px;
  padding-top: 30px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 25px;
  margin-bottom: 30px;
}

.mepictures{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.me2{
  width: 1000px;
  border-radius: 50px;
  margin-bottom: 70px;
}

.bruce{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.doggo{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 50px;
  padding-top: 10px;
  font-family: Poppins;
  font-weight: bold;
  padding-bottom: 50px;
}

.broos{
  width: 1000px;
}

.footer{
  background-color: rgba(0, 255, 255, 0.161);
  height: 70px;
}

.lasthead{
  font-family: Roboto;
  font-size: normal;
  margin-left: 50px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 20px;
}

























